<div class="flex flex-col gap-4">
    <h2 class="text-text-main-light dark:text-white text-lg font-bold flex items-center gap-3">
        <span
            class="flex items-center justify-center w-8 h-8 rounded-full bg-white dark:bg-surface-card border border-border-light dark:border-border-dark text-primary text-sm font-bold shadow-sm">2</span>
        Texto e Contexto
    </h2>
    <div
        class="bg-white dark:bg-surface-card rounded-xl p-5 border border-border-light dark:border-border-dark shadow-sm flex flex-col gap-5 transition-colors duration-200">
        <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-text-main-light dark:text-white" for="video-title">Título
                Principal</label>
            <input
                class="w-full bg-surface-light dark:bg-background-dark border border-border-light dark:border-border-dark rounded-lg px-4 py-3 text-text-main-light dark:text-white placeholder-text-secondary-light/50 dark:placeholder-text-secondary/50 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-all"
                id="video-title" placeholder="EX: Igão revela novo integrante do Podpah..." type="text"
                [value]="title" (input)="onTitleChange($any($event.target).value)" />
        </div>
    </div>
</div>
